@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1b1b1f;

  --primary: #29c1d5;
  --secondary: #6b35a8;
}

body {
  margin: 0;
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
